<h1><a href="/">{{title}}</a></h1>
<row>
  <!-- forms -->
  <h3>Create a Text Note</h3>
  {{> air_form}}
  <h3>Create a Triple</h3>
  {{> triple_form}}
</row>
<row>
  <!-- iframe -->
  <h3>Page to Harvest</h3>
   <iframe src="{{url}}" height="400" width="900"></iframe> 
</row>